* {
    padding: 0;
    margin: 0; 
  
}
body{
    background-color: #121214; 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    overflow-x: hidden;
}   
.scroll{
    display: flex;  
    width: 40vw; 
    height: 20vh;  
    position: relative; 
    left: 30vw; 
    top: -17vh;
} 
a{
    color: white; 
    text-decoration: none; 
}  
.quadradotest{
    width: 13vmin; 
    height: 13vmin; 
    background-color: green; 
    position: relative; 
   
    margin-left: 2vw ;
    margin-bottom: 9vh; 
    border-radius: 50%; 
    background-image: url(./assets/img/insta.jpg); 
    background-size: cover; 
    cursor: pointer; 
    user-select: none; 
    transition: 1s;  
} 
.quadradotest::after{ 
    content: "";
    position: absolute; 
    left: 0; 
    top: 0; 
    height: 100%; 
    width: 100%;  
    border-radius: 50%; 
    opacity: 0;
    background-image: url(./assets/img/pngwing.com\ \(1\).png); 
    background-size:cover;   
    transition: 0.6s;
} 
.quadradotest::before{ 
    content: "Pedro Julius";
    position: absolute;  
    display: flex; 
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bolder; 
    font-size: 2vmin;
    left: 0;  
    bottom: -20%; 
    color: white; 
    height: 10%; 
    width: 100%;  
    border-radius: 50%; 
    opacity: 1;
    transition: 0.6s;
} 


.quadradotest:hover::after{
    opacity: 0.8; 
    backdrop-filter: blur(10px); 
    box-shadow: 0px 0px 20px 1px rgb(185, 75, 202), inset 0px 0px 2px 3px rgb(185, 75, 202);
}  




::-webkit-scrollbar {
    width: 0.5vw;
    position: absolute; 
  }
  
  ::-webkit-scrollbar-track {
    margin-top: 11vh;
    margin-bottom: -1vh;
    box-shadow: inset 0 0 20px 20px #121214;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(14, 91, 136);
    border-radius: 3px;
    cursor: pointer;
    height: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1a56b8;
  }
  
.header {
    width: 100vw;
    height: 11vh;
    background-color: #12121435; 
    backdrop-filter: blur(10px);
    display: flex; 
    position: fixed; 
    top: 0; 
    z-index: 1; 
    transition: 0.2s;
} 
.header:hover{
    background-color: #121214; 
    backdrop-filter: blur(0px);
}

.logo {
    margin-left: 5vw;
}

.HButtons {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: 12vw;
    width: 70vw;
}

.headerButton {
    cursor: pointer;
    position: relative;
    color: white;
    height: 11vh;
    width: max-content;
    display: flex;
    align-items: center;
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
    user-select: none;
}

.headerButton:hover {
    color: #4e90db;
}

.headerButton::after {
    content: "";
    position: absolute;
    top: 7.9vh;
    height: 4px;
    width: 100%;
    left: 0;
    transform: translate(-20%, 0);
    background-color: #A0C0E4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transition: 0.3s;
    transform: scaleX(0);
}

.headerButton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
} 
.Pbody{ 
    width: 75vw; 
    height: 84vh;
    display: flex; 
    align-items: center; 
    justify-content: center;   
    margin-top: 15.3vh;
}   
.column-direction{
    flex-direction: column;
}
.Bimage{
    width: 100vw; 
    position: absolute; 
    height: 92.4%;
} 

.text1{
    height: 38vh; 
    width: 48vw; 
    position: absolute; 
    background-color: #121214b0; 
    right: 0; 
 
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
} 
.titulo{
    font-size: 4.4vmin; 
    width: 50%; 
    margin: 6%; 
    margin-top: 3%; 
} 
.descricao{
    font-size: 2.7vmin; 
    margin-left: 10%; 
    transform: translateY(-10%);  
    width: 77%; 
} 
.contact-button{ 
    width: 14%; 
    height: 7vh; 
    background-color: #4e90db; 
    position: absolute; 
    bottom: 12%; 
    right: 20%; 
    display: flex; 
    justify-content: center; 
    align-items: center;   
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold; 
    color: white; 
    font-size: 2.4vmin; 
    border-radius: 12px; 
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.524); 
    cursor: pointer; 
    transition: 0.3s;  
    box-sizing: border-box;
    user-select: none;  
    transition-property:background-color, color;
} 
.contact-button:hover{
    background-color: #121214; 
    color: #4e90db; 
    border:solid #2f78cb 3px
} 
.rodape{
    width: 70vw; 
    height: 25vh; 
    display: flex;   
    margin-top: 10vh;
    position: relative;
} 
.bottomlogo{
    height: 10vh; 
    margin-top: 2vh; 
    margin-left: 2vw;
}  
.copyright{
    color: white; 
    font-size: 2.1vmin;  
    margin: 4vmin;  
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5.5vmin;
} 
.rodape-column-2{
    color:white;  
    margin: 4vmin; 
    margin-left: 17vmin; 
    font-size:2.2vmin ; 
    font-family: Arial, Helvetica, sans-serif;
} 
.logos{
    position: absolute; 
    right: 5vw; 
    bottom: 2vh; 
} 
a:hover {
color: #4e90db; 
cursor: pointer;
}   

.titulo-quemSomos{
    font-size: 8vmin; 
    color: #2B689C; 
    font-weight: bold; 
    font-family: 'Lilita One', cursive; 
    position: absolute; 
    top: -10vmin; 
    left: 0; 
    margin: 18vmin; 
    margin-top: 28vmin;
} 
.sub-tittle{
    font-family: 'Lilita One', Arial;  
    font-size: 5vmin;
    color: #2B689C; 
    position: absolute;  
    top: 0; 
    left: 4vmin; 
    margin: 18vmin; 
    margin-top: 38vmin;
} 
.paragraph{
    color: white; 
    font-size: 3vmin; 
    width: 45vw;
} 
.contato-tittle{
    color: #78C1FF; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bolder; 
    position: absolute; 
    top: 15vh; 
    font-size: 4vmin; 
    transition: 0.4s; 
    cursor: pointer;
}  
.contato-tittle:hover{
    color: white; 
    text-shadow: rgb(0, 132, 255) 1px 0 10px;
}
.white{
    color: white;
} 

.p1{
    width: 70vw; 
    font-size: 3vmin;  
    position: absolute;
    left: 0vw; 
    transform: translateX(-30%); 
    top: 6vh;
} 
.contact-box{
    height: 67vh; 
    width: 27vw; 
    background-color: #202024; 
    position: absolute; 
    right: 8.9vw; 
    transform: translateY(7%); 
    border-radius: 20px; 
    overflow: hidden;
} 
input{
    background-color: #141417; 
    outline: none; 
    border: none; 
    height: 10%; 
    margin: 4%; 
    width: 85%; 
    border-radius: 8px; 
    padding-left: 10px; 
    color: white; 
    font-size: 2vmin;
} 
input:focus{
    border: 2px #78C1FF solid; 
    box-sizing: border-box; 
}   

.mensagem{
    background-color: #141417; 
    outline: none; 
    border: none; 
    height: 30%; 
    margin: 4%; 
    width: 85%; 
    border-radius: 8px; 
    padding-left: 10px; 
    padding-top: 10px; 
    box-sizing: border-box;
    color: white; 
    font-size: 2vmin; 
    resize: none; 
    margin-bottom:0%;
}
.mensagem:focus{
    border: 2px #78C1FF solid; 
    box-sizing: border-box; 
}  
::-webkit-scrollbar {
    width: 0.5vw;
    position: absolute; 
  }
  
  .mensagem::-webkit-scrollbar-track {
    margin-top: 0vh;
    margin-bottom: 0vh;
    box-shadow: inset 0 0 20px 20px #121214;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(14, 91, 136);
    border-radius: 3px;
    cursor: pointer;
    height: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1a56b8;
  } 
  .submit-button{ 
    background-color: #4e90db; 
    width: 86.7%; 
    cursor: pointer; 
  }  
  .submit-button:focus{
    border: none;
  }
  .submit-button:active{
    background-color: #202024; 
    border: #78C1FF 2px solid; 
    color: #78C1FF;
  }

